.nav__link{
    margin: 0 1rem;

}
.nav__link-item{
    font-family:'Segoe UI';
    color: $Light_Color;
    font-size: 25px;
    font-weight: bold;
    border: none;
}
.nav__border{
    width: 100%;
    height: 8px;
}